.advantages__wrapper {
  padding: 0;
  margin: 0;
  min-height: 1100px;
  background: url("../../img/iphone-screen-mobile@1x.png") no-repeat center 820px;
}

.advantages__intro {
  margin: 0 auto;
  padding: 45px 120px 10px 120px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

.advantages__list {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #283645;
  margin: 0;
  padding: 40px 100px 40px 100px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.advantage__title {
  padding: 0;
  margin: 0;
}

.advantage__detailing {
  margin: 15px;
  padding: 0;
}
